
  .content__grid {
    display: grid;
    grid-template-columns: 0.5fr minmax(300px,1fr) minmax(150px,1fr) minmax(150px,0.5fr);
  
  }
  
  .grid__item {
      border-bottom: 1px solid;
    height: 70px;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: visible;
    /* white-space: nowrap; */
 
  }

  .nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
  }

  .item_title {

  }

  .item_task {

  }

  .item_info {

  }

  .item_status {

  }

  .grid__item__head {
      font-weight: 700;
  }

  .grid__item__text {
      color: grey
  }